@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url(./Font/Poppins-Medium.ttf);
  }
  * {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  .sidebar-container {
    @apply bg-blush h-[96%] w-[16rem] rounded-3xl ml-6 p-4 transition-all duration-500 border border-solid border-glass relative;
  }
  .sidebar {
    @apply flex items-center mt-2 p-4 rounded-lg cursor-pointer hover:bg-lightGrey transition-all duration-300;
  }
}
